<hr>
<hr>
<hr>
<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex flex-column justify-content-center align-items-center">
      <%= link_to new_resume_path do %>
        <div class="card mycard" style="width: 70%;">
          <%= image_tag("template1.png") %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex flex-column justify-content-center align-items-center">
      <%= link_to new_resume2_path do %>
        <div class="card mycard" style="width: 61%; margin-left: 53px;">
          <%= image_tag("template2.png") %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-flex flex-column justify-content-center align-items-center">
      <%= link_to root_path do %>
        <div class="card mycard" style="width: 70%;">
          <%= image_tag("template1.png") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<section class="pt-5">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-sm-6 col-lg-4 mb-5">
        <%= link_to new_resume_path do %>
          <div class="card mycard">
            <%= image_tag("template1.png") %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
        <%= link_to new_resume2_path do %>
          <div class="card mycard">
            <%= image_tag("template2.png") %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
        <%= link_to new_resume_path do %>
          <div class="card mycard">
            <%= image_tag("template1.png") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<div class="grid-container">
  <div class="showcard">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <%= link_to new_resume_path do %>
          <div class="card mycard">
            <%= image_tag("template1.png") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="showcard">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <%= link_to new_resume_path do %>
          <div class="card mycard">
            <%= image_tag("template1.png") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="showcard">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <%= link_to new_resume_path do %>
          <div class="card mycard">
            <%= image_tag("template1.png") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
