<div class="resumelist-main">
  <br>
  <div class="row justify-content-around align-items-center">
    <div class="col-lg-4 col-sm-6 col-12 mb-5 ">
      <%= link_to new_resume_path do %>
        <div class="card mycard" >
          <%= image_tag("template1.png") %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 mb-5 ">
      <%= link_to new_resume2_path do %>
        <div class="card mycard">
          <%= image_tag("template2.png") %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 mb-5 temp3">
      <%= link_to new_resume3_path do %>
        <div class="card mycard" >
          <%= image_tag("template3.png") %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 mb-5 ">
      <%= link_to new_resume4_path do %>
        <div class="card mycard" >
          <%= image_tag("template4.png") %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 mb-5 ">
      <%= link_to new_resume5_path do %>
        <div class="card mycard">
          <%= image_tag("template5.png") %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 mb-5 ">
      <%= link_to new_resume6_path do %>
        <div class="card mycard" >
          <%= image_tag("template6.png") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
