<div class="resume6">
  <div class="main">
    <div class="top-section">
      <div class="name-designation">
        <p class="p1"><%= @resume6.name %></p>
        <p class="p2"><%= @resume6.current_role %></p>
      </div>
    </div>
    <hr>
    <div class="clearfix"></div>
    <div class="col-div-4">
      <div class="content-box" style="padding-left: 40px;">
        <p class="head">Contact</p>
        <p class="p3"><i class="fa fa-phone text-dark" aria-hidden="true"></i> &nbsp;&nbsp;<%= @resume6.contact_number %></p>
        <p class="p3"><i class="fa fa-envelope text-dark" aria-hidden="true"></i> &nbsp;&nbsp;<%= @resume6.email %></p>
        <p class="p3"><i class="fab fa-linkedin text-dark" aria-hidden="true"></i> &nbsp;&nbsp;<%= @resume6.linkedin_username %></p>
        <br/>
        <p class="head">my skills</p>
        <ul class="skills">
          <% @skill6s.each do |skill6| %>
            <li><span><%= skill6.skill6 %></span></li>
          <% end %>
        </ul>
        <br/>
        <p class="head">Awards</p>
        <% @award6s.each do |award6| %>
          <p class="p3"><%= award6.award6 %></p>
        <% end %>
        <br/>
        <p class="head">Languages</p>
        <% @knownlang6s.each do |knownlang6| %>
          <p class="p3"><%= knownlang6.knownlang6 %></p>
        <% end %>
      </div>
    </div>
    <div class="line"></div>
    <div class="col-div-8">
      <div class="content-box">
        <p class="head">profile</p>
        <p class="p3" style="font-size: 14px;"><%= @resume6.profile_summary %></p>
        <br/>
        <p class="head">EXPERIENCE</p>
        <% @experience6s.each do |experience6| %>
          <p><%= experience6.job_title6 %> (<%= experience6.start_date6 %> - <%= experience6.end_date6 %>)</p>
          <p class="p4"><%= experience6.work_description6 %></p>
        <% end %>
        <br/>
        <p class="head">Education</p>
        <% @education6s.each do |education6| %>
          <p class="p4"> <%= education6.degree_title6 %> (<%= education6.start_year6 %> - <%= education6.end_year6 %>) </p>
        <% end %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
