<!-- Resume3 Form -->
<div class="container form-container">
  <div class="flex-column">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p class="alert alert-danger"><%= error %></p>
      <% end %>
    <% end %>
    <!-- Form Started Here -->
    <%= form_for @resume3 do |f| %>
      <div class="form-group row">
        <div class="form-group col-md-7">
          <%= f.label :name, "Name :", class:"mt-3" %>
          <%= f.text_field :name, placeholder: "Enter Your Name",class:"mb-2 form-control" %>
          <br>
        </div>
        <div class="form-group col-md-5">
          <%= f.label :current_role, "Current Role :", class:"mt-3" %>
          <%= f.text_field :current_role, placeholder: "Enter Your Current Role", class:"mb-2 form-control" %>
          <br>
        </div>
      </div>
      <%= f.label :profile_pic, "Profile Pic :" %>
      <%= f.file_field :profile_pic, placeholder: "Enter Your Pic", class:"mb-2 form-control" %>
      <br>
      <div class="form-group row">
        <div class="form-group col-md-4">
          <%= f.label :contact_number, "Contact :" %>
          <%= f.text_field :contact_number, placeholder: "Contact",class:"mb-2 form-control" %>
          <br>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :email, "Email :" %>
          <%= f.text_field :email, placeholder: "Email-ID",class:"mb-2 form-control" %>
          <br>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :linkedin_username, "Linkedin :" %>
          <%= f.text_field :linkedin_username, placeholder: "Linkedin Username",class:"mb-2 form-control" %>
          <br>
        </div>
      </div>
      <br>
      <!-- Skills -->
      <div class="form-group row">
        <div class="form-group">
          <div class="skill3s d-flex">
            <%= f.fields_for :skill3s do |skill3| %>
              <%= render 'skill3_fields', f: skill3 %>
            <% end %>
          </div>
          <%= link_to_add_association fa_icon("plus", text: "Add Skill"), f, :skill3s, data: {association_insertion_node: '.skill3s', association_insertion_method: :append}, class:"btn-primary border-0 rounded-pill shadow px-3 py-2 text-decoration-none" %>
        </div>
      </div>
      <!-- Awards -->
      <div class="form-group row">
        <div class="form-group">
          <div class="award3s d-flex">
            <%= f.fields_for :award3s do |award3| %>
              <%= render 'award3_fields', f: award3 %>
            <% end %>
          </div>
          <%= link_to_add_association fa_icon("plus", text: "Add Award"), f, :award3s, data: {association_insertion_node: '.award3s', association_insertion_method: :append}, class:"btn-primary border-0 rounded-pill shadow px-3 py-2 text-decoration-none" %>
        </div>
      </div>
      <!-- Known Languages -->
      <div class="form-group row">
        <div class="form-group">
          <div class="knownlang3s d-flex">
            <%= f.fields_for :knownlang3s do |knownlang3| %>
              <%= render 'knownlang3_fields', f: knownlang3 %>
            <% end %>
          </div>
          <%= link_to_add_association fa_icon("plus", text: "Add Language"), f, :knownlang3s, data: {association_insertion_node: '.knownlang3s', association_insertion_method: :append}, class:"btn-primary border-0 rounded-pill shadow px-3 py-2 text-decoration-none" %>
        </div>
      </div>
      <!-- EDUCATION -->
      <div class="form-group row mt-5">
        <div class="form-group">
          <div class="education3s d-flex">
            <%= f.fields_for :education3s do |education3| %>
              <%= render 'education3_fields', f: education3 %>
            <% end %>
          </div>
          <%= link_to_add_association fa_icon("plus", text: "Add Education"), f, :education3s, data: {association_insertion_node: '.education3s', association_insertion_method: :append}, class:"btn-primary border-0 rounded-pill shadow px-3 py-2 text-decoration-none" %>
        </div>
      </div>
      <!-- EXPERIENCE -->
      <div class="form-group row mt-5">
        <div class="form-group">
          <div class="experience3s d-flex">
            <%= f.fields_for :experience3s do |experience3| %>
              <%= render 'experience3_fields', f: experience3 %>
            <% end %>
          </div>
          <%= link_to_add_association fa_icon("plus", text: "Add Experience"), f, :experience3s, data: {association_insertion_node: '.experience3s', association_insertion_method: :append}, class:"btn-primary border-0 rounded-pill shadow px-3 py-2 text-decoration-none" %>
        </div>
      </div>
      <!-- PROFILE SUMMARY -->
      <div class="form-group row mt-5">
        <%= f.label :profile_summary, "Profile Summary :" %>
        <%= f.text_area :profile_summary, placeholder: "Enter Your Profile Summary",class:"mb-2 form-control",  rows: 5  %>
      </div>
      <br>
      <div class="form-group row">
        <div class="form-group col-md-4">
          <%= f.submit class:"btn-primary border-0 rounded-pill shadow p-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
