<div class="resume3">
  <div class="main">
    <div class="top-section">
      <img src="image/Rutik_Patel.jpg" class="profile" />
      <p class="p1"><%= @resume3.name %></p>
      <p class="p2"><%= @resume3.current_role %></p>
    </div>
    <div class="clearfix"></div>
    <div class="col-div-4">
      <div class="content-box" style="padding-left: 40px;">
        <p class="head">Contact</p>
        <p class="p3"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;<%= @resume3.contact_number %></p>
        <p class="p3"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;<%= @resume3.email %></p>
        <p class="p3"><i class="fab fa-linkedin" aria-hidden="true"></i> &nbsp;&nbsp;<%= @resume3.linkedin_username %></p>
        <br/>
        <p class="head">my skills</p>
        <ul class="skills">
          <li><span><%= @resume3.skill %></span></li>
          <li><span><%= @resume3.skill %></span></li>
          <li><span><%= @resume3.skill %></span></li>
          <li><span><%= @resume3.skill %></span></li>
          <li><span><%= @resume3.skill %></span></li>
        </ul>
        <br/>
        <p class="head">Awards</p>
        <p class="p3"><%= @resume3.award %></p>
        <p class="p3"><%= @resume3.award %></p>
        <p class="p3"><%= @resume3.award %></p>
        <p class="p3"><%= @resume3.award %></p>
        <br/>
        <p class="head">Languages</p>
        <p class="p3"><%= @resume3.known_language %></p>
        <p class="p3"><%= @resume3.known_language %></p>
        <p class="p3"><%= @resume3.known_language %></p>
        <p class="p3"><%= @resume3.known_language %></p>
      </div>
    </div>
    <div class="line"></div>
    <div class="col-div-8">
      <div class="content-box">
        <p class="head">profile</p>
        <p class="p3" style="font-size: 14px;"><%= @resume3.profile_summary %></p>
        <br/>
        <p class="head">EXPERIENCE</p>
        <p><%= @resume3.experience %> (2018 - NOW)</p>
        <p class="p-4">WORK SUMMARY GOES HERE Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500s</p>
        <p><%= @resume3.experience %> (2018 - NOW)</p>
        <p class="p-4">WORK SUMMARY GOES HERE Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500s</p>
        <p><%= @resume3.experience %> (2018 - NOW)</p>
        <p class="p-4">WORK SUMMARY GOES HERE Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500s</p>
        <br/>
        <p class="head">Education</p>
        <p class="p-4" ><%= @resume3.education %> (2009 - 2010)</p>
        <p class="p-4" ><%= @resume3.education %> (2009 - 2010)</p>
        <p class="p-4" ><%= @resume3.education %> (2009 - 2010)</p>
        <p class="p-4" ><%= @resume3.education %> (2009 - 2010)</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
