<!-- Add New Resume -->
<div class="container form-container">
  <div class="flex-column">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p class="alert alert-danger"><%= error %></p>
      <% end %>
    <% end %>
    <!-- Form Started Here -->
    <%= form_for @resume do |f| %>
      <div class="form-group row">
        <div class="form-group col-md-7">
          <%= f.label :name, "Name :", class:"mt-3" %>
          <%= f.text_field :name ,placeholder: "Enter Your Name",class:"mb-2 form-control" %>
          <br>
        </div>
        <div class="form-group col-md-5">
          <%= f.label :current_role, "Current Role :", class:"mt-3" %>
          <%= f.text_field :current_role ,placeholder: "Enter Your Current Role", class:"mb-2 form-control" %>
          <br>
        </div>
      </div>
      <%= f.label :profile_pic, "Profile Pic :" %>
      <%= f.file_field :profile_pic ,placeholder: "Enter Your Pic", class:"mb-2 form-control" %>
      <br>
      <!-- ADDRESS -->
      <div class="form-group row">
        <div class="form-group col-md-4">
          <%= f.label :address_line_1, "Address Line 1 :" %>
          <%= f.text_field :address_line_1 ,placeholder: "House No., Street",class:"mb-2 form-control" %>
          <br>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :address_line_2, "Address Line 2 :" %>
          <%= f.text_field :address_line_2,placeholder: "Area, Landmark, City",class:"mb-2 form-control" %>
          <br>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :address_line_3, "Address Line 3 :" %>
          <%= f.text_field :address_line_3,placeholder: "Pincode, State",class:"mb-2 form-control" %>
          <br>
        </div>
      </div>
      <%= f.label :email, "Email :" %>
      <%= f.text_field :email ,placeholder: "Enter Your email",class:"mb-2 form-control" %>
      <br>
      <!-- SOCIAL PROFILE -->
      <div class="form-group row">
        <div class="form-group col-md-4">
          <%= f.label :social_media_1, "Twitter Username :" %>
          <%= f.text_field :social_media_1 ,placeholder: "Enter Twitter Username",class:"mb-2 form-control" %>
          <br>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :social_media_2, "Github Username :" %>
          <%= f.text_field :social_media_2 ,placeholder: "Enter Github username",class:"mb-2 form-control" %>
          <br>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :social_media_3, "Linkedin Username :" %>
          <%= f.text_field :social_media_3 ,placeholder: "Enter Linkedin Username",class:"mb-2 form-control" %>
          <br>
        </div>
      </div>
      <!-- EXPERTISE -->
      <div class="form-group row mb-5">
        <div class="form-group">
          <div class="expertises d-flex">
            <%= f.fields_for :expertises do |expertise| %>
              <%= render 'expertise_fields', f: expertise %>
            <% end %>
          </div>
          <%= link_to_add_association fa_icon("plus", text: "Add Expertise"), f, :expertises, data: {association_insertion_node: '.expertises', association_insertion_method: :append}, class:"btn-primary border-0 rounded-pill shadow px-3 py-2 text-decoration-none" %>
        </div>
      </div>
      <!-- EDUCATION -->
      <div class="form-group row mb-5">
        <div class="form-group">
          <div class="educations">
            <%= f.label :educations, "Educations", class: "mt-3" %>
            <%= f.fields_for :educations do |education| %>
              <%= render 'education_fields', f: education %>
            <% end %>
          </div>
          <%= link_to_add_association fa_icon("plus", text: "Add Education"), f, :educations, data: {association_insertion_node: '.educations', association_insertion_method: :append}, class:"btn-primary border-0 rounded-pill shadow px-3 py-2 text-decoration-none" %>
        </div>
      </div>
      <!-- HOBBIES -->
      <div class="form-group row mb-5">
        <div class="form-group">
          <div class="hobbies d-flex">
            <%= f.fields_for :hobbies do |hobby| %>
              <%= render 'hobby_fields', f: hobby %>
            <% end %>
          </div>
          <%= link_to_add_association fa_icon("plus", text: "Add Hobby"), f, :hobbies, data: {association_insertion_node: '.hobbies', association_insertion_method: :append}, class:"btn-primary border-0 rounded-pill shadow px-3 py-2 text-decoration-none" %>
        </div>
      </div>
      <!-- PROFILE SUMMARY -->
      <%= f.label :profile_summary, "Profile Summary :" %>
      <%= f.text_area :profile_summary ,placeholder: "Enter Your Profile Summary",class:"mb-2 form-control",  rows: 5  %>
      <br>
      <!-- EXPERIENCE -->
      <!-- JOB #1 -->
      <div class="form-group row mb-5">
        <div class="form-group">
          <div class="experiences">
            <%= f.label :experiences, "Experiences", class: "mt-3" %>
            <%= f.fields_for :experiences do |experience| %>
              <%= render 'experience_fields', f: experience %>
            <% end %>
          </div>
          <%= link_to_add_association fa_icon("plus", text: "Add Education"), f, :experiences, data: {association_insertion_node: '.experiences', association_insertion_method: :append}, class:"btn-primary border-0 rounded-pill shadow px-3 py-2 text-decoration-none" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-4">
          <%= f.submit class:"btn-primary border-0 rounded-pill shadow p-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
