<!------- PAGE STUFF -->
<div class="block-relative page">
  <div class="block-relative top-bar">
    <div class="caps name">
      <div class="abs-center"><%= @resume.name %></div>
    </div>
  </div>
  <div class="side-bar">
    <div class="mugshot">
      <div class="logo">
        <% if @resume.profile_pic? %>
          <%# <img src="images/Rutik_Patel.jpg" alt=""> %>
          <%= image_tag @resume.profile_pic.url,alt: "Image not available", class:"card-img img-resposive" %>
        <% end %>
      </div>
    </div>
    <!------- ADDRESS STARTS HERE ------->
    <p><%= @resume.address_line_1 %></p>
    <p><%= @resume.address_line_2 %></p>
    <p><%= @resume.address_line_3 %></p>
    <p><%= @resume.email %></p>
    <!------- ADDRESS ENDS HERE ------->
    <br>
    <!------- SOCIAL PROFILE STARTS HERE ------->
    <p class="block-relative social twitter"><%= @resume.social_media_1 %></p>
    <p class="block-relative social github"><%= @resume.social_media_2 %></p>
    <p class="block-relative social linked-in"><%= @resume.social_media_3 %></p>
    <!------- SOCIAL PROFILE ENDS HERE ------->
    <!------- EXPERTISE STARTS HERE ------->
    <p class="block-relative caps side-header">Expertise</p>
    <% @expertises.each do |expertise| %>
      <li><%= expertise.expertise %></li>
    <% end %>
    <!------- EXPERTISE ENDS HERE ------->
    <!------- EDUCATION STARTS HERE ------->
    <p class="block-relative caps side-header">Education</p>
    <% @educations.each do |education| %>
      <p class="block-relative list-thing bold-text my-0"><%= education.degree_title %></p>
      <p class="block-relative list-thing light-text mb-3"><%= education.study_organization_name %></p>
    <% end %>
    <!------- EDUCATION ENDS HERE ------->
    <!------- HOBBIES STARTS HERE ------->
    <p class="block-relative caps side-header">Hobbies</p>
    <% @hobbies.each do |hobby| %>
      <li><%= hobby.hobby_name %></li>
    <% end %>
    <!------- HOBBIES ENDS HERE ------->
  </div>
  <div class="block-relative content-container">
    <!------- CURRENT ROLE STARTS HERE ------->
    <h2 class="block-relative caps title"><%= @resume.current_role %></h2>
    <!------- CURRENT ROLE ENDS HERE ------->
    <div class="block-relative separator"></div>
    <!------- PROFILE STARTS HERE ------->
    <div class="block-relative caps greyed">Profile</div>
    <p class="long-margin"> <%= @resume.profile_summary %></p>
    <!------- PROFILE ENDS HERE ------->
    <!------- EXPERIENCE STARTS HERE ------->
    <div class="block-relative caps greyed">Experience</div>
    <% @experiences.each do |experience| %>
      <h3><%= experience.job_title %>, <%= experience.employer %></h3>
      <p class="light"><%= experience.start_date %> TO <%= experience.end_date %></p>
      <p class="justified"><%= experience.job_description %></p>
    <% end %>
    <!------- EXPERIENCE ENDS HERE ------->
  </div>
</div>
